@{
    ViewData["Title"] = "Access denied";
}
<br/>
<br/>
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
    <div class="row ">
        <img src="/images/DenyImage.jpg" class="table-bordered"/>
    </div>
</header>
